<%- include('parts/top.ejs') %>

<div class="container text-center" style="padding:100px 0;">
  <h1>404 &mdash; Page Not Found</h1>
  <p>Sorry, we couldn’t find <strong><%= url %></strong></p>
  <a href="/" class="btn btn-primary">Go Home</a>
</div>

<%- include('parts/buttom.ejs') %>