<!-- views/errors/500.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Server Error</title>
</head>
<body>
  <h1>Oops!</h1>
  <p><%= message %></p>
  <a href="/">Return to home</a>
</body>
</html>
