<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="inner-content">
            <p>Copyright &copy; 2025 WepaDesign.
          
          - Design: <a rel="nofollow noopener" href="https://WepaDesign.com" target="_blank">H-King</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  