<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Machines & Tools</title>

  <!-- Bootstrap -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

  <!-- Custom Styles -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/fontawesome.css">
    <link rel="stylesheet" href="css/templatemo-sixteen.css">
    <link rel="stylesheet" href="css/owl.css">
 <!-- Bootstrap core JavaScript -->
 <script src="vendor/jquery/jquery.min.js"></script>
 <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


 <!-- Additional Scripts -->
 <script src="js/custom.js"></script>
 <script src="js/owl.js"></script>
 <script src="js/slick.js"></script>
 <script src="js/isotope.js"></script>
 <script src="js/accordions.js"></script>


  <style>
    /* Dropdown styling */
    .dropdown-submenu {
      position: relative;
    }
  
    .dropdown-submenu .dropdown-menu {
      display: none;
      position: absolute;
      top: 0;
      left: 100%;
      min-width: 180px;
    }
  
    .dropdown-submenu:hover .dropdown-menu {
      display: block;
    }
  
    /* Horizontal layout for subcategories */
    .dropdown-menu .dropdown-submenu .dropdown-item {
      display: inline-block;
      margin-right: 15px;
      text-align: center;
    }
  </style>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function(){
      $('.dropdown-submenu').hover(function() {
        $(this).children('.dropdown-menu').stop(true, true).slideDown(200);
      }, function() {
        $(this).children('.dropdown-menu').stop(true, true).slideUp(200);
      });
    });
  </script>
</head>

<body>

<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="/">
        <h2>Machines & <em>Tools</em></h2>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/allproducts">Catalog</a></li>
          <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
          <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>

          <% if (user) { %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                <%= user.name %>
              </a>
              <div class="dropdown-menu">
                <% if (user.isAdmin) { %>
                  <a class="dropdown-item" href="/dashboard">Admin Dashboard</a>
                <% } %>
                <a class="dropdown-item" href="/myproducts">My Products</a>
                <a class="dropdown-item" href="/addproduct">Add Machine</a>
                <form method="POST" action="/logout">
                  <button type="submit" class="dropdown-item logout-btn">Logout</button>
                </form>
              </div>
            </li>
          <% } else { %>
            <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
          <% } %>

          <li class="nav-item"><a href="#" class="nav-link cta-btn">Get a Quote</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
